<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyc.userc.dao.CarNumOpenIdMapper">

    <resultMap id="BaseResultMap" type="com.xyc.userc.entity.CarNumOpenId">
        <id column="id" jdbcType="NUMERIC" property="id" />
        <result column="openid" jdbcType="VARCHAR" property="openId" />
        <result column="carnumber" jdbcType="VARCHAR" property="carNum" />
        <result column="is_deleted" jdbcType="NUMERIC" property="isDeleted" />
        <result column="user_create" jdbcType="NUMERIC" property="userCreate" />
        <result column="user_modified" jdbcType="NUMERIC" property="userModified" />
        <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified" />
        <result column="is_enabled" jdbcType="VARCHAR" property="isEnabled" />
    </resultMap>

    <select id="selectByMobileCarNum" resultMap="BaseResultMap">
        select oc.ID, oc.OPENID, oc.CARNUMBER, oc.IS_ENABLED, oc.IS_DELETED, oc.USER_CREATE,
        oc.USER_MODIFIED, oc.GMT_CREATE, oc.GMT_MODIFIED, oc.IS_ENABLED from
        SYS_OPENID_CARNUMBER oc
        left join SYS_MOBILE_OPENID mo
        on oc.OPENID = mo.OPENID
        <where>
            <if test="mobile != null">
                and mo.mobile = #{mobile}
            </if>
            <if test="carNum != null">
                and oc.CARNUMBER = #{carNum}
            </if>
            and oc.IS_DELETED = 0
        </where>
    </select>

    <select id="selectByOpenIdCarNum" resultMap="BaseResultMap">
        select oc.ID, oc.OPENID, oc.CARNUMBER, oc.IS_ENABLED, oc.IS_DELETED, oc.USER_CREATE,
        oc.USER_MODIFIED, oc.GMT_CREATE, oc.GMT_MODIFIED, oc.IS_ENABLED from
        SYS_OPENID_CARNUMBER oc
        <where>
            <if test="openId != null">
                and oc.OPENID = #{openId}
            </if>
            <if test="carNum != null">
                and oc.CARNUMBER = #{carNum}
            </if>
            and oc.IS_DELETED = 0
        </where>
    </select>


    <update id="deleteByCarNumOpenId">
        update SYS_OPENID_CARNUMBER oc
        set oc.IS_DELETED = 1
        WHERE oc.CARNUMBER = #{carNum}
        and oc.OPENID = #{openId}
    </update>

    <update id="updateCarNumEnable">
        update SYS_OPENID_CARNUMBER oc
        set oc.IS_ENABLED = #{isEnable},
            oc.GMT_MODIFIED = #{gmtModified}
        <where>
            <if test="carNum != null">
                and oc.CARNUMBER = #{carNum}
            </if>
            <if test="openId != null">
                and oc.OPENID = #{openId}
            </if>
            and oc.IS_DELETED = 0
        </where>
    </update>

    <select id="selectMobileOpenIdIdByOpenId" resultType="java.lang.Integer">
        select mo.id
        from SYS_OPENID_CARNUMBER oc
        left join SYS_MOBILE_OPENID mo
        on oc.openid = mo.openid
        where oc.OPENID = #{openId}
        and oc.IS_DELETED = 0
    </select>

    <insert id="insert">
        insert into SYS_OPENID_CARNUMBER(ID,OPENID,CARNUMBER,IS_DELETED,USER_CREATE,USER_MODIFIED,GMT_CREATE,GMT_MODIFIED,IS_ENABLED)
        VALUES (OPENID_CARNUM_SEQ.nextval,#{openId},#{carNum},#{isDeleted},#{userCreate},#{userModified},#{gmtCreate},#{gmtModified},#{isEnabled})
    </insert>

    <update id="updateCarNum">
        update SYS_OPENID_CARNUMBER oc
        set oc.CARNUMBER = #{newCarNum},
          oc.GMT_MODIFIED = #{gmtModified}
        where oc.OPENID = #{openId}
        and oc.CARNUMBER = #{oldCarNum}
        and oc.IS_DELETED = 0
    </update>

    <select id="selectCntByCarNumOpenId" resultType="java.lang.Integer">
        select count(*) from SYS_OPENID_CARNUMBER oc
        <where>
            <if test="oldCarNum != null">
                and oc.CARNUMBER = #{oldCarNum}
            </if>
            <if test="openId != null">
                and oc.OPENID = #{openId}
            </if>
            and oc.IS_DELETED = 0
        </where>
    </select>

</mapper>