<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyc.userc.dao.CarNumOpenIdMapper">

    <resultMap id="BaseResultMap" type="com.xyc.userc.entity.CarNumOpenId">
        <id column="id" jdbcType="NUMERIC" property="id" />
        <result column="openid" jdbcType="VARCHAR" property="openId" />
        <result column="carnumber" jdbcType="VARCHAR" property="carNum" />
        <result column="ENGINENUM" jdbcType="VARCHAR" property="engineNum" />
        <result column="IDENTNUM" jdbcType="VARCHAR" property="identNum" />
        <result column="EMISSIONSTD" jdbcType="VARCHAR" property="emissionStd" />
        <result column="is_deleted" jdbcType="NUMERIC" property="isDeleted" />
        <result column="user_create" jdbcType="NUMERIC" property="userCreate" />
        <result column="user_modified" jdbcType="NUMERIC" property="userModified" />
        <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified" />
        <result column="is_enabled" jdbcType="VARCHAR" property="isEnabled" />
    </resultMap>

    <resultMap id="BaseVoResultMap" type="com.xyc.userc.entity.CarNumOpenId">
        <id column="id" jdbcType="NUMERIC" property="id" />
        <result column="openid" jdbcType="VARCHAR" property="openId" />
        <result column="carnumber" jdbcType="VARCHAR" property="carNum" />
        <result column="is_deleted" jdbcType="NUMERIC" property="isDeleted" />
        <result column="user_create" jdbcType="NUMERIC" property="userCreate" />
        <result column="user_modified" jdbcType="NUMERIC" property="userModified" />
        <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified" />
        <result column="is_enabled" jdbcType="VARCHAR" property="isEnabled" />
    </resultMap>

    <select id="selectByMobileCarNum" resultMap="BaseResultMap">
        select DISTINCT oc.ID, oc.OPENID, oc.CARNUMBER, oc.ENGINENUM, oc.IDENTNUM, oc.EMISSIONSTD,
        oc.IS_ENABLED, oc.IS_DELETED, oc.USER_CREATE,
        oc.USER_MODIFIED, oc.GMT_CREATE, oc.GMT_MODIFIED, oc.IS_ENABLED from
        SYS_OPENID_CARNUMBER oc
        left join SYS_MOBILE_OPENID mo
        on oc.OPENID = mo.OPENID
        <where>
            <if test="mobile != null">
                and mo.mobile = #{mobile}
            </if>
            <if test="carNum != null">
                and oc.CARNUMBER = #{carNum}
            </if>
            and oc.IS_DELETED = 0
        </where>
    </select>

    <select id="selectByOpenIdCarNum" resultMap="BaseResultMap">
        select oc.ID, oc.OPENID, oc.CARNUMBER,oc.ENGINENUM, oc.IDENTNUM, oc.EMISSIONSTD,
        oc.IS_ENABLED, oc.IS_DELETED, oc.USER_CREATE,
        oc.USER_MODIFIED, oc.GMT_CREATE, oc.GMT_MODIFIED, oc.IS_ENABLED from
        SYS_OPENID_CARNUMBER oc
        <where>
            <if test="openId != null">
                and oc.OPENID = #{openId}
            </if>
            <if test="carNum != null">
                and oc.CARNUMBER = #{carNum}
            </if>
            and oc.IS_DELETED = 0
        </where>
    </select>

    <select id="selectEnabledCarInfo" resultType="com.xyc.userc.vo.EnabledCarInfoVo">
        select
          oc.CARNUMBER as carNum
        from
          SYS_OPENID_CARNUMBER oc
        <where>
            <if test="openId != null">
                and oc.OPENID = #{openId}
            </if>
            and oc.IS_DELETED = 0
            and oc.IS_ENABLED = 1
        </where>
    </select>


    <update id="deleteByCarNumOpenId">
        update SYS_OPENID_CARNUMBER oc
        set oc.IS_DELETED = 1
        WHERE oc.CARNUMBER = #{carNum}
        and oc.OPENID = #{openId}
    </update>

    <update id="updateCarNumEnable">
        update SYS_OPENID_CARNUMBER oc
        set oc.IS_ENABLED = #{isEnable},
            oc.GMT_MODIFIED = #{gmtModified}
        <where>
            <if test="carNum != null">
                and oc.CARNUMBER = #{carNum}
            </if>
            <if test="openId != null">
                and oc.OPENID = #{openId}
            </if>
            and oc.IS_DELETED = 0
        </where>
    </update>

    <select id="selectMobileOpenIdIdByOpenId" resultType="java.lang.Integer">
        select DISTINCT mo.id
        from SYS_OPENID_CARNUMBER oc
        left join SYS_MOBILE_OPENID mo
        on oc.openid = mo.openid
        where oc.OPENID = #{openId}
        and oc.IS_DELETED = 0
    </select>

    <insert id="insert">
        insert into SYS_OPENID_CARNUMBER(ID,OPENID,CARNUMBER,IS_DELETED,USER_CREATE,USER_MODIFIED,GMT_CREATE,GMT_MODIFIED,IS_ENABLED,ENGINENUM,IDENTNUM,EMISSIONSTD)
        VALUES (OPENID_CARNUM_SEQ.nextval,#{openId},#{carNum},#{isDeleted},#{userCreate},#{userModified},#{gmtCreate},#{gmtModified},#{isEnabled},#{engineNum},#{identNum},#{emissionStd})
    </insert>

    <update id="updateCarNum">
        update SYS_OPENID_CARNUMBER oc
        set oc.CARNUMBER = #{newCarNum},
            oc.ENGINENUM = #{engineNum},
            oc.IDENTNUM = #{identNum},
            oc.EMISSIONSTD = #{emissionStd},
          oc.GMT_MODIFIED = #{gmtModified}
        where oc.OPENID = #{openId}
        and oc.CARNUMBER = #{oldCarNum}
        and oc.IS_DELETED = 0
    </update>

    <select id="selectCntByCarNumOpenId" resultType="java.lang.Integer">
        select count(*) from SYS_OPENID_CARNUMBER oc
        <where>
            <if test="oldCarNum != null">
                and oc.CARNUMBER = #{oldCarNum}
            </if>
            <if test="openId != null">
                and oc.OPENID = #{openId}
            </if>
            and oc.IS_DELETED = 0
        </where>
    </select>

    <select id="selectCarNumInOutTime" resultType="com.xyc.userc.vo.CarNumInOutTimeVo">
        select distinct a.PLATENO as carNum, a.CROSSTIME as inOutTime,
        decode(a.CARINOUTSTRING, '0', '入场', '1', '出场', a.CARINOUTSTRING) as inOutType
        from T_ZZYY_RC_CAR_HIK@rcdb a
        inner join SYS_OPENID_CARNUMBER b
        on b.OPENID = #{openId}
        and b.IS_DELETED = 0
        and a.PLATENO = b.CARNUMBER
        where a.CROSSTIME <![CDATA[ >= ]]> #{startTime}
        and a.CROSSTIME <![CDATA[ <= ]]> #{endTime}
        order by a.PLATENO, a.CROSSTIME
    </select>

    <select id="selectGsCarInfoByCarNum" resultType="com.xyc.userc.vo.GsCarInfoVo">
        select g.CLSBDH as clsbdh, g.FDJH as fdjh
        from SYS_GSCAR_INFO g
        where g.HPHM = #{carNum}
    </select>

    <select id="selectCarNumInfo" resultType="java.util.Map">
        select oc.OPENID, oc.CARNUMBER,oc.IS_ENABLED
        from SYS_OPENID_CARNUMBER oc
        where oc.IS_DELETED = 0
        order by oc.OPENID
    </select>

    <select id="confirmCarNumExist" resultType="java.util.Map">
        select mo.ID, r.ROLE_CODE
        from SYS_OPENID_CARNUMBER oc
        left join SYS_MOBILE_OPENID mo
        on oc.OPENID = mo.OPENID
        left join SYS_USER_ROLE ur
        on mo.ID = ur.MOBILE_OPENID_ID
        left join SYS_ROLE r
        on ur.ROLE_ID = r.id
        <where>
            <if test="carNum != null">
                and oc.CARNUMBER = #{carNum}
            </if>
            <if test="openId != null">
                and oc.OPENID = #{openId}
            </if>
            and oc.IS_DELETED = 0
            and r.IS_DELETED = 0
        </where>
    </select>

</mapper>