<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyc.userc.dao.FreezeMapper">

    <resultMap id="selectCarNumFrozenVoMap" type="com.xyc.userc.vo.CarNumFrozenVo">
        <result column="startDate" property="startDate" typeHandler="com.xyc.userc.mybatis.typehandler.LongDateTypeHandler" />
        <result column="expireDate" property="expireDate" typeHandler="com.xyc.userc.mybatis.typehandler.LongDateTypeHandler" />
        <result column="lastViolationTime" property="lastViolationTime" typeHandler="com.xyc.userc.mybatis.typehandler.LongDateTypeHandler" />
    </resultMap>

    <select id="selectCarNumFrozenVo" resultMap="selectCarNumFrozenVoMap">
        select a.CARNUMBER as carNum, a.FROZEN_STATUS as frozenStatus,
        a.START_DATE as startDate, a.EXPIRE_DATE as expireDate,
        a.VIOLATION_TIMES as violationTimes,a.LAST_VIOLATIONTIME as lastViolationTime,
        decode(b.CAR,null,0,1) as violationHndStatus
        from SYS_CARNUM_FROZEN a
        left join (select DISTINCT car from sell.view_final_wzlb) b
        on a.carnumber = b.car
        <where>
            <if test="carNum != null">
                and a.CARNUMBER = #{carNum}
            </if>
            <if test="frozenStatus != null">
                and a.FROZEN_STATUS = #{frozenStatus}
            </if>
        </where>
    </select>

    <select id="selectCarNumFrozen" resultType="com.xyc.userc.entity.CarNumFrozen">
        select a.ID as id, a.CARNUMBER as carNum, a.FROZEN_STATUS as frozenStatus, a.START_DATE as startDate,
        a.EXPIRE_DATE as expireDate, a.GMT_CREATE as gmtCreate, a.GMT_MODIFIED as gmtModified,
        a.VIOLATION_TIMES as violationTimes,a.LAST_VIOLATIONTIME as LastViolationTime
        from SYS_CARNUM_FROZEN a
        <where>
            <if test="carNum != null">
                and a.CARNUMBER = #{carNum}
            </if>
            <if test="frozenStatus != null">
                and a.FROZEN_STATUS = #{frozenStatus}
            </if>
        </where>
    </select>

    <select id="selectByCarNums" resultType="com.xyc.userc.entity.CarNumFrozen">
        select DISTINCT a.ID as id, a.CARNUMBER as carNum, a.FROZEN_STATUS as frozenStatus, a.START_DATE as startDate,
        a.EXPIRE_DATE as expireDate, a.GMT_CREATE as gmtCreate, a.GMT_MODIFIED as gmtModified,
        a.VIOLATION_TIMES as violationTimes,a.LAST_VIOLATIONTIME as LastViolationTime
        from SYS_CARNUM_FROZEN a
        where a.CARNUMBER IN
        <foreach collection="list" open="(" close=")" separator="," item="carNum" index="i">
            #{carNum}
        </foreach>
    </select>

    <update id="updateCarNumFrozens" parameterType="com.xyc.userc.entity.CarNumFrozen">
        <foreach collection="list" item="carNumFrozen" index="index" open="begin" close=";end;" separator=";">
        update SYS_CARNUM_FROZEN a set a.FROZEN_STATUS = #{carNumFrozen.frozenStatus}, a.START_DATE = #{carNumFrozen.startDate},
        a.GMT_MODIFIED = #{carNumFrozen.gmtModified},a.EXPIRE_DATE = #{carNumFrozen.expireDate}
        where a.CARNUMBER = #{carNumFrozen.carNum}
        </foreach>
    </update>

    <update id="updateCarNumUnFrozens">
        <foreach collection="list" item="carNum" index="index" open="begin" close=";end;" separator=";">
            update SYS_CARNUM_FROZEN a set a.FROZEN_STATUS = 0, a.GMT_MODIFIED = SYSDATE, a.EXPIRE_DATE = sysdate
            where a.CARNUMBER = #{carNum}
        </foreach>
    </update>

    <insert id="insertAllCarNumFrozen" parameterType="java.util.List">
        insert all
        <foreach collection="list" separator=" " item="carnumfrozen">
            into SYS_CARNUM_FROZEN (ID,CARNUMBER,FROZEN_STATUS,START_DATE,EXPIRE_DATE,GMT_CREATE,GMT_MODIFIED,
            VIOLATION_TIMES,LAST_VIOLATIONTIME)
            values (get_carnumfrozen_seq,#{carnumfrozen.carNum},#{carnumfrozen.frozenStatus},#{carnumfrozen.startDate,jdbcType=DATE},
            #{carnumfrozen.expireDate,jdbcType=DATE},#{carnumfrozen.gmtCreate},#{carnumfrozen.gmtModified},#{carnumfrozen.violationTimes},
            #{carnumfrozen.LastViolationTime})
        </foreach>
        select 1 from dual
    </insert>

    <update id="updateAllCarNumFrozen" parameterType="java.util.List">
        <foreach collection="list" item="carnumfrozen" index="index" open="begin" close=";end;" separator=";">
            update SYS_CARNUM_FROZEN set FROZEN_STATUS = #{carnumfrozen.frozenStatus},EXPIRE_DATE = #{carnumfrozen.expireDate,jdbcType=DATE},
            GMT_MODIFIED = #{carnumfrozen.gmtModified}, VIOLATION_TIMES = #{carnumfrozen.violationTimes},
            LAST_VIOLATIONTIME = #{carnumfrozen.LastViolationTime,jdbcType=DATE}
            where ID = #{carnumfrozen.id}
        </foreach>
    </update>

</mapper>
