<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyc.userc.dao.HallReportMapper">

    <insert id="insert" parameterType="com.xyc.userc.entity.HallReportInfo">
        <selectKey resultType="int" order="BEFORE" keyProperty="id">
            SELECT REPORT_QUEUE_INFO_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        insert into SYS_REPORT_QUEUE_INFO(ID,OPENID,MOBILE,CARNUMBER,GMT_CREATE,DATA_STATUS,LATE_WEIGHT,LATE_TIMES,BIG_LADING_BILL_NO,LAST_CALLED_TIME,LOCATION,STOCKCODE)
        VALUES (#{id},#{openId},#{mobile},#{carNumber},#{gmtCreate},#{dataStatus},#{lateWeight},#{lateTimes},#{BigLadingBillNo},#{lastCalledTime,jdbcType=DATE},#{location},#{stockCode})
    </insert>

    <select id="selectHallReportInfo" resultType="com.xyc.userc.entity.HallReportInfo">
        select ID as id,
               OPENID as openId,
               MOBILE as mobile,
               CARNUMBER as carNumber,
               GMT_CREATE as gmtCreate,
               DATA_STATUS as dataStatus,
               LATE_WEIGHT as lateWeight,
               LATE_TIMES as lateTimes,
               BIG_LADING_BILL_NO as bigLadingBillNo,
               LAST_CALLED_TIME as lastCalledTime,
               LOCATION as location
        from SYS_REPORT_QUEUE_INFO
        <where>
            <if test="openId != null">
                and OPENID = #{openId}
            </if>
            <if test="mobile != null">
                and MOBILE = #{mobile}
            </if>
            <if test="carNum != null">
                and CARNUMBER = #{carNum}
            </if>
            <if test="bigLadingBillNo != null">
                and BIG_LADING_BILL_NO = #{bigLadingBillNo}
            </if>
            <if test="dataStatus != null">
                and DATA_STATUS = #{dataStatus}
            </if>
            <if test="location != null">
                and LOCATION = #{location}
            </if>
        </where>
    </select>

    <select id="selectWaitingNum" resultType="java.util.Map">
        select c.ID as id, c.OPENID as openId from (select a.ID, a.OPENID, a.BIG_LADING_BILL_NO, a.DATA_STATUS,
          a.LATE_WEIGHT, a.GMT_CREATE, a.LOCATION, b.BILLNO
          from SYS_REPORT_QUEUE_INFO a
          left join (select DISTINCT BILLNO from print_affirm@sgps where trunc(printtime) = trunc(sysdate)) b
          on a.BIG_LADING_BILL_NO = b.BILLNO) c
          where c.BILLNO is null and c.LOCATION = #{location}
          order by c.LATE_WEIGHT,c.GMT_CREATE
    </select>

    <select id="selectCurrentNum" resultType="java.lang.Integer">
          select c.ID from (select a.ID, a.BIG_LADING_BILL_NO, a.DATA_STATUS, a.LATE_WEIGHT, a.GMT_CREATE, b.BILLNO
          from SYS_REPORT_QUEUE_INFO a
          left join (select DISTINCT BILLNO from print_affirm@sgps where trunc(printtime) = trunc(sysdate)) b
          on a.BIG_LADING_BILL_NO = b.BILLNO) c
          where c.BILLNO is null and c.DATA_STATUS = 1
          order by c.LATE_WEIGHT,c.GMT_CREATE
    </select>

    <select id="selectBigLadingBillNo" resultType="java.lang.String">
        select distinct BIG_LADING_BILL_NO from sell.SJFORECASTTIME
          where substr(SJ,1,10) = #{timeStr}
            and CARNUM = #{carNum}
            and TEL = #{mobile}
    </select>

    <insert id="insertComment" parameterType="com.xyc.userc.entity.HallReportComment">
        insert into SYS_REPORT_QUEUE_CMT(ID,OPENID,CARNUMBER,REPORT_COMMENT,GMT_CREATE,BIG_LADING_BILL_NO)
        VALUES (REPORT_QUEUE_CMT_SEQ.NEXTVAL,#{openId},#{carNum},#{comment},#{gmtCreate},#{bigLadingBillNo})
    </insert>

    <delete id="deleteEarliestQRCodeStr">
        delete from SYS_QRCODE_JL
          where QRCODE_STR = (
              select QRCODE_STR
              from (select QRCODE_STR from SYS_QRCODE_JL order by GMT_CREATE)
              where rownum = 1
            )
    </delete>

    <insert id="insertQRCodeStr">
       insert into SYS_QRCODE_JL(QRCODE_STR,GMT_CREATE)
       VALUES (#{qRCodeStr},#{gmtCreate,typeHandler=com.xyc.userc.mybatis.typehandler.LongDateTypeHandler})
    </insert>

    <select id="selectQRCodeStr" resultType="com.xyc.userc.entity.QRCodeStrInfo">
        select qRCodeStr,gmtCreate from (select a.*,rownum rnum from (
        select QRCODE_STR as qRCodeStr, GMT_CREATE as gmtCreate
        from SYS_QRCODE_JL
        <where>
            <if test="qrCodeStr != null">
                and QRCODE_STR = #{qrCodeStr}
            </if>
        </where>
        order by GMT_CREATE) a ) where rnum > #{idx}
    </select>

    <select id="selectReportPrintQueue" resultType="com.xyc.userc.vo.HallReportPrintQueueVo">
        select c.ID as no, c.CARNUMBER as carNum, c.GMT_CREATE as reportTime,
        c.LAST_CALLED_TIME as timeout, decode(c.DATA_STATUS, 1, 'printing', 0, 'waiting') as status, c.LOCATION as location from
        (select a.ID, a.CARNUMBER, a.GMT_CREATE, a.BIG_LADING_BILL_NO, a.LATE_WEIGHT,
        a.LAST_CALLED_TIME,a.DATA_STATUS, a.LOCATION, b.BILLNO from SYS_REPORT_QUEUE_INFO a
        left join (select DISTINCT BILLNO from print_affirm@sgps where trunc(printtime) = trunc(sysdate)) b
        on a.BIG_LADING_BILL_NO = b.BILLNO) c
        where c.BILLNO is null
        order by c.LATE_WEIGHT,c.GMT_CREATE
    </select>

    <select id="selectLocation" resultType="java.lang.String">
        select gi.LOCATION as "location", a.STOCKCODE as "stockCode" from (select distinct STOCKCODE from sell.SJFORECASTTIME
          where substr(SJ,1,10) = #{timeStr} and BIG_LADING_BILL_NO = #{bigLadingBillNo}) a
          left join SYS_GARAGE_INFO gi
          on a.STOCKCODE = gi.GARAGENUM
    </select>

</mapper>