<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyc.userc.dao.MobileOpenIdMapper">

    <resultMap id="BaseResultMap" type="com.xyc.userc.entity.MobileOpenId">
        <id column="id" jdbcType="NUMERIC" property="id" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="openid" jdbcType="VARCHAR" property="openId" />
        <result column="user_create" jdbcType="VARCHAR" property="userCreate" />
        <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    </resultMap>

    <insert id="insertMobileOpenId"  parameterType="com.xyc.userc.entity.MobileOpenId">
        insert into SYS_MOBILE_OPENID (ID,MOBILE,OPENID,USER_CREATE,GMT_CREATE)
        VALUES (MOBILE_OPENID_SEQ.nextval,#{mobile},#{openId},#{userCreate},#{gmtCreate})
    </insert>

    <select id="selectByMobile" resultMap="BaseResultMap">
        select mo.ID, mo.MOBILE, mo.OPENID, mo.USER_CREATE, mo.GMT_CREATE
         from SYS_MOBILE_OPENID mo
        where mo.MOBILE = #{mobile}
    </select>

</mapper>