<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyc.userc.dao.RoleMapper">

  <resultMap id="BaseResultMap" type="com.xyc.userc.entity.Role">
    <id column="id" jdbcType="NUMERIC" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="is_deleted" jdbcType="NUMERIC" property="isDeleted" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified" />
    <result column="parent_role_id" jdbcType="NUMERIC" property="parentRoleId" />
  </resultMap>


  <select id="selectByOpenId" resultMap="BaseResultMap">
    select DISTINCT r.id, r.role_code, r.role_name, r.is_deleted,
      r.gmt_create,r.gmt_modified, r.parent_role_id
    from sys_role r
    left join sys_user_role ur
      on r.id = ur.role_id
    left join sys_mobile_openid mo
      on ur.mobile_openid_id = mo.id
    where mo.openid = #{openId}
      and r.is_deleted = '0'
  </select>

  <insert id="insertUserRole">
    insert into SYS_USER_ROLE (ID,MOBILE_OPENID_ID,ROLE_ID,GMT_CREATE,GMT_MODIFIED)
    values (USER_ROLE_SEQ.nextval,#{mobileOpenIdId},#{roleId},#{gmtCreate},#{gmtModified})
  </insert>

  <select id="selectIdByRoleCode" resultType="java.lang.Integer">
    select r.ID from SYS_ROLE r
    where r.ROLE_CODE = #{roleCode}
    and r.IS_DELETED = 0
  </select>

</mapper>