<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyc.userc.dao2.CarNumViolationMapper">

<select id="selectCarNumAViolationInfo" resultMap="java.util.Map">
    SELECT
      S.ID,
      S.CreateUserID,
      S.ViolationName,
      T.SCDisciplinaryTypeName,
      S.CreateDate
    FROM
      [ShaGang].[dbo].[SCInspections] S,
      [ShaGang].[dbo].[SCDisciplinaryContentTests] T
    WHERE
      T.ID = S.SCViolationTypeID
    AND T.SCDisciplinaryTypeName = 'A类条款 道路交通类'
</select>

</mapper>